* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .bodi {
    background-color: #1e56a0;
    height: 100vh;
  }
  .mainF .boxes div {
    color: white;
    background: white;
    border-radius: 10px;
    margin-top: 7%;
  }
  .main {
    background: white;
    height: 75vh;
    background-color: hsla(0, 0%, 100%, 0.9) !important;
    backdrop-filter: saturate(200%) blur(25px);
    border-radius: 2%;
    margin-top: 30px;
    padding: 20px;
  }
  
  .divider:after,
  .divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
  }
  
  .sbtn {
    color: #ffffff;
  }
  